body {
  color: #73879C;
  background: #ffffff !important;
}
    .active_tab {
        color: #00afaa !important;
      }

      .loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        text-align: center;
      }

      .loading-image {
        position: absolute;
        top: 40%;
        z-index: 100;
      }

      .top_nav{
        margin-left: 75px !important;
        height: 7px !important;
      }
      body .container.body .right_col{
        background: #ffffff !important;
      }
      .header-icon{
        width: 58px;
        height: 42px !important;
        margin-top: 14px;
        margin-left: 7px;
      }
      #ytel-sidebar .items .item{
        display: flex;
        justify-content: space-evenly;
        width: 55px;
        height: 55px;
        border-radius: 0.25em;
        margin: 7px auto;
      }
      #ytel-sidebar .sidebarM360Icon{
        background: hsla(0, 0%, 85%, 0.15);
      }
      .navbar-nav{
        float: none;
      }
      .nav_menu{
        float: left;
        background: #39f;
        border-bottom: 1px solid #3697fa;
        margin-bottom: 10px;
        width: 100%;
        position: absolute;
        color: white;
        height: 60px;
      }
      .top_nav .nav>li>a:hover{
        background: #5b6eff36 !important;
      }
      .top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover{
        background: #5b6eff36!important;
      }